:root {
  --white: #ffffff;
  --gray: #b3b3b3;  /* Darker gray */
  --black: #121212;  /* Deeper black */
  --primary-color: #1c1f36;  /* Dark blue with a more mysterious touch */
  --secondary-color: #101522;  /* Very dark gray, almost black */
  --dark-secondary-color: #2d3142;  /* Darker gray with a bluish tint */
  --tertiary-color: #6b7a92;  /* Bluish-gray, cool tone */
  --light-tertiary-color: #b0b9c5;  /* Very light gray, almost white but muted */
  --text-color: #e0e4e8;  /* Light gray for text, providing contrast on dark backgrounds */

  --font-family: 'DM Sans', sans-serif;
}
